# Q1: Write a python program to scrape data for “Data Analyst” Job position in“Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
# Opening Browsers in Incognito using Options
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument('--incognito')

In [2]:

# This function opens the naukri home page and searches for 'Data Analyst' and 'Bangalore'

def naukri(url):
    driver=webdriver.Chrome(r"chromedriver.exe")
    # 1. first get the webpage https://www.naukri.com/
    driver.get(url)
    
    # 2. Enter “Data Analyst” in “Skill,Designations,Companies” field 
    job_search=driver.find_element_by_id('qsb-keyword-sugg')
    job_search.send_keys("Data Analyst")
    
    # and enter “Bangalore” in “enter the location” field 
    location_search=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
    location_search.send_keys("Bangalore")
 
    # 3. Then click the search button
    search_buton=driver.find_element_by_xpath("//div[@class='search-btn']/button")
    search_buton.click()
    time.sleep(5)

    # 4. Then scrape the data for the first 10 jobs results you get.
    job_titles=[]
    title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]
    for i in title_tags:
        job_titles.append(i.text)
    
    company_names=[]
    company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
    for i in company_tags:
        company_names.append(i.text)
        
    experience_list=[]
    exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")[:10]
    for i in exp_tags:
        experience_list.append(i.text)
        
    salary_list=[]
    sal_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span")[:10]
    for i in sal_tags:
        salary_list.append(i.text)
        
    locations_list=[]
    loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]
    for i in loc_tags:
        locations_list.append(i.text)
        
    jobs=pd.DataFrame({})
    jobs['job_titles']=job_titles
    jobs['company_names']=company_names
    jobs['locations_list']=locations_list
    jobs['experience_list']=experience_list
    jobs['salary_list']=salary_list
    
    driver.close()
    return(jobs)

In [3]:
df=naukri('https://www.naukri.com/')
df

,job_titles,company_names,locations_list,experience_list,salary_list
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",0-2 Yrs,"3,50,000 - 8,50,000 PA."
1,Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs,"3,50,000 - 4,50,000 PA."
2,Business Data Analyst,NetApp,Bengaluru,2-3 Yrs,Not disclosed
3,"SAS AML Data Analyst / Trainee & Data Science,...",MagicBase Royal BD Pvt Ltd,Bengaluru(Whitefield),0-5 Yrs,"50,000 - 2,00,000 PA."
4,Hiring Data Analysts,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs,"3,00,000 - 6,00,000 PA."
5,Hiring Data Analysts,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs,"2,50,000 - 5,50,000 PA."
6,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,"Bengaluru, India",3-5 Yrs,Not disclosed
7,Study Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bengaluru,4-8 Yrs,Not disclosed
8,Data Analyst,Cognizant Technology Solutions India Ltd,Bengaluru,3-4 Yrs,Not disclosed
9,Business Data Analyst | Reinsurance Domain,Mphasis Limited,Bengaluru,10-15 Yrs,Not disclosed

# Q2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [4]:
# This function opens the naukri home page and searches for 'Data Analyst' and 'Bangalore'

def naukri_full_desc(url):
    driver=webdriver.Chrome(r"chromedriver.exe")

    # 2. Enter “Data Science” in “Skill,Designations,Companies” field

    from selenium.common.exceptions import NoSuchElementException
    driver.get(url)
    try:
        job_search=driver.find_element_by_id('qsb-keyword-sugg')
        job_search.send_keys("Data Science")
    except NoSuchElementException as e:
        print("Exception Raised : ", e)

    # and enter “Bangalore” in “enter the location” field 
    location_search=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
    location_search.send_keys("Bangalore")

    # 3. Then click the search button
    search_buton=driver.find_element_by_xpath("//div[@class='search-btn']/button")
    search_buton.click()
    time.sleep(5)

    jobs=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]

    job_titles=[]
    company_names=[]
    exp=[]
    sal=[]
    desc=[]

    from selenium.common.exceptions import NoSuchElementException         # Importing Exception

    for i in jobs:
        url=i.get_attribute('href')
        driver_2=webdriver.Chrome(r"chromedriver.exe")
        driver_2.get(url)
        try:
            a=driver_2.find_element_by_xpath("//h1[@class='jd-header-title']")
            b=driver_2.find_element_by_xpath("//a[@class='pad-rt-8']")
            c=driver_2.find_element_by_xpath("//div[@class='exp']/span")
            d=driver_2.find_element_by_xpath("//div[@class='salary']/span")
            f=driver_2.find_elements_by_xpath("//div[@class='dang-inner-html']")
        except NoSuchElementException as e:
            a=driver_2.find_element_by_xpath("//h1[@class='av-special-heading-tag ']")
            b=driver_2.find_element_by_xpath("//p[@class='cpName f14']")
            c=driver_2.find_element_by_xpath("//span[@class='slide-meta-exp pull-left']")
            d=driver_2.find_element_by_xpath("//span[@class='slide-meta-sal sal pull-left ']")
            f=driver_2.find_elements_by_xpath("//div[@class='clearboth description']")


        job_titles.append(a.text)
        company_names.append(b.text)        
        exp.append(c.text.replace('from ','').replace(' of Experience',''))
        sal.append(d.text)
        # Collecting full description
        desc_content=[]
        for j in f:
            desc_content.append(j.text.replace('\n',' '))
        desc.append(desc_content)

        driver_2.close()
    
    jobs_2=pd.DataFrame({})
    jobs_2['job_titles']=job_titles
    jobs_2['company_names']=company_names
    jobs_2['Exp']=exp
    jobs_2['Salary']=sal
    jobs_2['Full Job Description']=desc
    
    driver.close()
    return(jobs_2)

In [5]:
df=naukri_full_desc('https://www.naukri.com/')
df

,job_titles,company_names,Exp,Salary,Full Job Description
0,"SAS AML Data Analyst / Trainee & Data Science,...",MagicBase Royal BD Pvt Ltd,0 - 5 years,"₹ 50,000 - 2,00,000 P.A.",[We are looking to hire SAS Analysts/Data Scie...
1,Freshers/Internship/Trainee - Data Science/ Ma...,IIBM,0 - 5 years,"₹ 4,00,000 - 5,00,000 P.A.",[Call/whatsapp - Rohini- 8410755924 Mansi - 87...
2,Data Science Engineer,Hewlett Packard Enterprise,4 - 7 years,Not Disclosed,[The HPE Software Development Engineer - Data ...
3,"Internship in Data Science, AI and Machine Lea...",ICR INDIA CERTIFICATIONS PRIVATE LIMITED,0 - 5 years,"₹ 4,00,000 - 5,00,000 P.A.",[Call/whatsapp - Kriti- 7454879990 Required F...
4,"Internship in Data Science, AI and Machine Lea...",ICR INDIA CERTIFICATIONS PRIVATE LIMITED,0 - 5 years,"₹ 4,00,000 - 5,00,000 P.A.","[Call/whatsapp - Ketan-9808811409, Shivani-843..."
5,SENIOR DATA SCIENCE & ANALYTICS PLATFORM ENGINEER,GlaxoSmithKline Pharmaceuticals Limited,4 to 9 year(s),Not Disclosed by Recruiter,[Roles and Responsibilities If you are ready f...
6,DATA SCIENCE,Capgemini Technology Services India Limited,4 to 6 year(s),Not Disclosed by Recruiter,[Job Description Experience in Data Science Ha...
7,DATA SCIENCE,Capgemini Technology Services India Limited,6 to 9 year(s),Not Disclosed by Recruiter,[Job Description Experience in Data Science Ha...
8,Freshers/Internship/Trainee - Data Science/ Ma...,IIBM,0 - 5 years,"₹ 4,00,000 - 5,00,000 P.A.",[Call/whatsapp - Rohini- 8410755924 Mansi - 87...
9,Software Engineer ( Data Sciences),Myntra Designs Pvt. Ltd.,3 - 8 years,Not Disclosed,[Roles and Responsibilities Myntra Data Scienc...

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [6]:

# This function opens the naukri home page and searches for 'Data Analyst' and 'Bangalore'

def naukri_advance_filters(url):
    chrome_options = Options()
    chrome_options.add_argument('--incognito')
    driver=webdriver.Chrome(r"chromedriver.exe")
    # 1. first get the webpage https://www.naukri.com/
    driver.get(url)
    
    # 2. Enter “Data Scientist” in “Skill,Designations,Companies” field 
    job_search=driver.find_element_by_id('qsb-keyword-sugg')
    job_search.send_keys("Data Scientist")
 
    # 3. Then click the search button
    search_buton=driver.find_element_by_xpath("//div[@class='search-btn']/button")
    search_buton.click()
    time.sleep(5)
    
    # 4. Then apply the location filter and salary filter by checking the respective boxes

    chk=driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']/label[@for='chk-Delhi/NCR-cityType-']/i")
    chk.click()
    time.sleep(5)
    chk=driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']/label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
    chk.click()
    time.sleep(5)

    # 5. Then scrape the data for the first 10 jobs results you get.
    job_titles=[]
    title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]
    for i in title_tags:
        job_titles.append(i.text)
    
    company_names=[]
    company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
    for i in company_tags:
        company_names.append(i.text)
        
    experience_list=[]
    exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")[:10]
    for i in exp_tags:
        experience_list.append(i.text)
        
    locations_list=[]
    loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]
    for i in loc_tags:
        locations_list.append(i.text)
        
    jobs=pd.DataFrame({})
    jobs['job_titles']=job_titles
    jobs['company_names']=company_names
    jobs['locations_list']=locations_list
    jobs['experience_list']=experience_list
    
    driver.close()
    return(jobs)

In [7]:
df=naukri_advance_filters('https://www.naukri.com/')
df

,job_titles,company_names,locations_list,experience_list
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",0-2 Yrs
1,Data Scientist - Python/Machine Learning,Jubna,Noida,5-8 Yrs
2,Data Scientist,PureSoftware Pvt Ltd.,Gurgaon,5-9 Yrs
3,Data Scientist,World Wide Technology,Gurgaon,3-8 Yrs
4,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",9-14 Yrs
5,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR(Sector-142 Noida), Noida",9-14 Yrs
6,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",9-14 Yrs
7,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR(Sector-142 Noida), Noida",9-14 Yrs
8,Data Scientist,Stark Industries,Delhi,3-5 Yrs
9,Job | Opportunity For Senior Role(Data Scienti...,BA Continuum India Pvt. Ltd,"Gandhinagar, Delhi NCR, Mumbai, Gurgaon",14-17 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company. [Glassdoor]

In [29]:
def glassdoor(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(options=chrome_options)
    driver.get(url)
    
    # Sign in Option
    sign_in=driver.find_element_by_xpath("//div[@class='locked-home-sign-in']/a")
    url=sign_in.get_attribute('href')
    driver_2=webdriver.Chrome(options=chrome_options)
    driver_2.get(url)
    time.sleep(5)
    email=driver_2.find_element_by_id('userEmail')
    email.send_keys('demo1994acc@gmail.com')
    passw=driver_2.find_element_by_id('userPassword')
    passw.send_keys('Pass@321')
    sign_in_button=driver_2.find_element_by_xpath("//div/button[@class='gd-ui-button minWidthBtn css-8i7bc2']")
    sign_in_button.click()
    time.sleep(5)
    driver.close()
    
    # searching required fields
    job_search=driver_2.find_element_by_id('sc.keyword')
    job_search.send_keys('Data Scientist')
    
    location=driver_2.find_element_by_id('sc.location')
    from selenium.webdriver.common.keys import Keys
    location.send_keys(Keys.CONTROL + "a")
    location.send_keys(Keys.DELETE)
    location.send_keys('Noida')
    
    search_button=driver_2.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
    search_button.click()
    time.sleep(5)
    
    company_name=[]
    days_posted=[]
    rating=[]
    
    # Company and days are available but for ratings need to open in new window as some are absent/missing
    # Opening new window
    from selenium.common.exceptions import NoSuchElementException         # Importing Exception
    new_page=driver_2.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']/a")[:10]
    
    for i in new_page:
        url=i.get_attribute('href')
        driver_3=webdriver.Chrome(options=chrome_options)
        driver_3.get(url)
        time.sleep(5)
        try:
            a=driver_3.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']")
            rating.append(a.text.replace('\n★',''))
        except NoSuchElementException as e:
            rating.append("No Rating")
        driver_3.close() 
        
    comps=driver_2.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']/a/span")[:10]
    for i in comps:
        company_name.append(i.text)
        
    days=driver_2.find_elements_by_xpath("//div[@data-test='job-age']")[:10]
    for i in days:
        days_posted.append(i.text)
         
    jobs=pd.DataFrame({})
    jobs['company_names']=company_name
    jobs['days_posted']=days_posted
    jobs['rating']=rating
    
    driver_2.close()
    
    return(jobs)

In [30]:
df=glassdoor('https://www.glassdoor.co.in/index.htm')
df

                      company_names days_posted     rating
0                       AI Engineer         13d        3.4
1   ANI Calls India Private Limited          5d  No Rating
2                    Biz2Credit Inc        30d+        3.7
3  Applicate IT Solutions Pvt. Ltd.          8d        3.3
4                    WSD Consultant          8d  No Rating
5      Salasar New Age Technologies        30d+  No Rating
6                   SearchUrCollege        30d+  No Rating
7                          xtLytics        30d+        3.0
8   ANI Calls India Private Limited          5d  No Rating
9                   Dürr Somac GmbH         19d  No Rating

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [32]:
def glassdoor_2(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(options=chrome_options)
    driver.get(url)
     
    # searching required fields
    job_search=driver.find_element_by_id('KeywordSearch')
    job_search.send_keys('Data Scientist')
    
    location=driver.find_element_by_id('LocationSearch')
    location.clear()
    location.send_keys('Noida')
        
    search_buton=driver.find_element_by_id("HeroSearchButton")
    search_buton.click()
    time.sleep(5)
    
    comp=[]
    number_of_salaries=[]
    avg_salary=[]
    min_salary=[]
    max_salary=[]
    
    a=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")[:10]
    for i in a:
        comp.append(i.text)
        
    a=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0']")[:10]
    for i in a:
        number_of_salaries.append(i.text.replace(' salaries',''))
        
    a=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")[:10]
    for i in a:
        avg_salary.append(i.text)
        
    a=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")[:10]
    for i in a:
        min_salary.append(i.text)
        
    a=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")[:10]
    for i in a:
        max_salary.append(i.text)
         
    jobs=pd.DataFrame({})
    jobs['company_names']=comp
    jobs['number_of_salaries']=number_of_salaries
    jobs['avg_salary']=avg_salary
    jobs['min_salary']=min_salary
    jobs['max_salary']=max_salary
    
    driver.close()
    
    return(jobs)

In [34]:
df=glassdoor_2('https://www.glassdoor.co.in/Salaries/index.htm')
df

,company_names,number_of_salaries,avg_salary,min_salary,max_salary
0,Delhivery,12,"₹ 12,83,026",₹705K,"₹11,495K"
1,Accenture,9,"₹ 11,19,272",₹571K,"₹2,200K"
2,IBM,7,"₹ 7,52,445",₹580K,"₹2,700K"
3,Ericsson-Worldwide,7,"₹ 8,28,000",₹468K,"₹1,595K"
4,UnitedHealth Group,7,"₹ 13,21,601",₹708K,"₹1,557K"
5,Analytics Vidhya,7,"₹ 20,889",₹14K,₹22K
6,Tata Consultancy Services,6,"₹ 6,33,432",₹488K,"₹1,000K"
7,Cognizant Technology Solutions,6,"₹ 9,96,446",₹784K,"₹1,250K"
8,Valiance Solutions,6,"₹ 7,71,320",₹496K,"₹1,138K"
9,Vidooly Media Tech,6,"₹ 12,669",₹8K,₹20K

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [54]:
def flipkart_100(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(options=chrome_options)
    driver.get(url)
    
    #Closing Pop-up
    close_button=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    close_button.click()    
    
    
    # searching required fields
    search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
    search.send_keys('sunglasses')
    
    search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    search_button.click()
    time.sleep(5)
    
    brand=[]
    des=[]
    price=[]
    discount=[]
    
    def extract(driver,number):
                
        a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")[:number]
        for i in a:
            brand.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")[:number]
        for i in a:
            des.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[1]")[:number]
        for i in a:
            price.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[3]")[:number]
        for i in a:
            discount.append(i.text)
    
    while(len(discount)<40):
        extract(driver,40)
        
    while(len(discount)<80):
        next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver_2=webdriver.Chrome(options=chrome_options)
        url=next.get_attribute('href')
        driver_2.get(url)
        extract(driver_2,40)
    
    while(len(discount)<100):
        next=driver_2.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
        driver_3=webdriver.Chrome(options=chrome_options)
        url=next.get_attribute('href')
        driver_3.get(url)
        extract(driver_3,20)  
    
    jobs=pd.DataFrame({})
    jobs['brand']=brand
    jobs['des']=des
    jobs['price']=price
    jobs['discount']=discount
    
    driver.close()
    driver_2.close()
    driver_3.close()
    
    return(jobs)

In [55]:
df=flipkart_100('https://www.flipkart.com/')
df

,brand,des,price,discount
0,Royal Son,UV Protection Retro Square Sunglasses (49),₹699,65% off
1,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
2,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹210,83% off
3,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹210,85% off
4,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
...,...,...,...,...
95,Fravy,"UV Protection, Others Retro Square Sunglasses ...",₹259,82% off
96,dannilo,Others Round Sunglasses (Free Size),₹189,81% off
97,Rich Club,UV Protection Round Sunglasses (50),₹379,62% off
98,Phenomenal,"UV Protection, Mirrored Round Sunglasses (51)",₹379,81% off
99,Gansta,"UV Protection, Mirrored Aviator Sunglasses (55)",₹289,80% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [72]:
def flipkart_reviews(url):

    driver_1 = webdriver.Chrome(options=chrome_options)
    driver_1.get(url)
    
    # Opening full reviews
    full=driver_1.find_element_by_xpath("//div[@class='col JOpGWq']/a")
    driver=webdriver.Chrome(options=chrome_options)
    url=full.get_attribute('href')
    driver.get(url)
    driver_1.close()
       
    rating=[]
    review_summary=[]
    full_review=[]
    
    def extract(driver):
                
        a=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in a:
            rating.append(i.text)

        a=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for i in a:
            review_summary.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
        for i in a:
            full_review.append(i.text)
    
    while(len(full_review)<10):
        extract(driver)
        
    while(len(full_review)<100):
        next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver=webdriver.Chrome(options=chrome_options)
        url=next.get_attribute('href')
        driver.get(url)
        extract(driver)  
    
    jobs=pd.DataFrame({})
    jobs['rating']=rating
    jobs['review_summary']=review_summary
    jobs['full_review']=full_review
    
    driver.close()

    return(jobs)

In [73]:
df=flipkart_reviews('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')
df

ValueError: Length of values (100) does not match length of index (95)

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [56]:
def flipkart_100_sneakers(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(options=chrome_options)
    driver.get(url)
    
    #Closing Pop-up
    close_button=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    close_button.click()    
    
    
    # searching required fields
    search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
    search.send_keys('sneakers')
    
    search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    search_button.click()
    time.sleep(5)
    
    brand=[]
    des=[]
    price=[]
    discount=[]
    
    def extract(driver,number):
                
        a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")[:number]
        for i in a:
            brand.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")[:number]
        for i in a:
            des.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[1]")[:number]
        for i in a:
            price.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[3]")[:number]
        for i in a:
            discount.append(i.text)
    
    while(len(discount)<40):
        extract(driver,40)
        
    while(len(discount)<80):
        next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver_2=webdriver.Chrome(options=chrome_options)
        url=next.get_attribute('href')
        driver_2.get(url)
        extract(driver_2,40)
    
    while(len(discount)<100):
        next=driver_2.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
        driver_3=webdriver.Chrome(options=chrome_options)
        url=next.get_attribute('href')
        driver_3.get(url)
        extract(driver_3,20)  
    
    jobs=pd.DataFrame({})
    jobs['brand']=brand
    jobs['des']=des
    jobs['price']=price
    jobs['discount']=discount
    
    driver.close()
    driver_2.close()
    driver_3.close()
    
    return(jobs)

In [57]:
df=flipkart_100_sneakers('https://www.flipkart.com/')
df

,brand,des,price,discount
0,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹236,52% off
1,Ducati,DTSS18FT-001 Sneakers For Men,₹691,68% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹579,70% off
3,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹273,45% off
4,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹240,51% off
...,...,...,...,...
95,Rockfield,Sneakers For Men,₹499,50% off
96,Bersache,Combo(BR)-1077-349 Sneakers For Men,₹348,65% off
97,ESSENCE,Sneakers For Men,₹499,50% off
98,TR,Sneakers For Men,₹399,60% off
99,Ducati,Sneakers For Men,"₹1,259",65% off

# Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” [Actual Value for this search = Rs. 7649 to Rs. 15099] , Color filter to “Black”

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [63]:
def myntra(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(options=chrome_options)
    driver.get(url)

    # Adding required filters
    # [Actual Value for this search = Rs. 7649 to Rs. 15099]
    price=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label/div")
    price.click()
    time.sleep(5)
    
    color=driver.find_element_by_xpath("//li[@class='colour-listItem']/label/div")
    color.click()
    time.sleep(5)
    
    brand=[]
    des=[]
    price=[]
    
    def extract_2(driver,number):
                
        a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")[:number]
        for i in a:
            brand.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[1]")[:number]
        for i in a:
            des.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/div/span[1]")[:number]
        for i in a:
            price.append(i.text)

    
    while(len(price)<50):
        extract_2(driver,50)
        
    while(len(price)<100):
        next=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
        driver_2=webdriver.Chrome(options=chrome_options)
        url=next.get_attribute('href')
        driver_2.get(url)
        extract_2(driver_2,50) 
    
    jobs=pd.DataFrame({})
    jobs['brand']=brand
    jobs['des']=des
    jobs['price']=price
    
    driver.close()
    driver_2.close()
    
    return(jobs)

In [65]:
df=myntra('https://www.myntra.com/shoes')
df

               brand                             des              price
0   ADIDAS Originals          Men Superstar Sneakers  Rs. 9349Rs. 10999
1               Geox       Men Leather Driving Shoes           Rs. 9999
2               Nike   Men FREE RN 5.0 Running Shoes           Rs. 7995
3               Geox            Men Mid-Top Sneakers          Rs. 10999
4               Nike      Men AIR ZOOM Running Shoes          Rs. 11995
..               ...                             ...                ...
95      Vanilla Moon   Women Perforations Flat Boots           Rs. 9990
96            Clarks      Men Solid Leather Sneakers   Rs. 7649Rs. 8999
97              Geox     Men Leather Formal Slip-Ons          Rs. 14990
98             Ruosh  Men Solid Leather Formal Monks           Rs. 8990
99              Geox       Men Leather Formal Derbys          Rs. 12990

[100 rows x 3 columns]

# Please Note: The Price option available on the web page was "Rs. 7649 to Rs. 15099" after the search, so results may vary

# Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

In [66]:
def amazon(url):
    driver = webdriver.Chrome(options=chrome_options)
    driver.get(url)
    
    search_box=driver.find_element_by_id('twotabsearchtextbox')
    search_box.send_keys('laptop')

    button=driver.find_element_by_xpath("//div[@class='nav-right']")
    button.click()
    time.sleep(5)

    cpu_1=driver.find_element_by_xpath("//div[@id='filters']/ul/li[@aria-label='Intel Core i7']/span/a/div")
    cpu_1.click()

    from selenium.common.exceptions import StaleElementReferenceException        # Importing Exception
    from selenium.webdriver.support.ui import WebDriverWait
    from selenium.webdriver.support import expected_conditions as EC
    from selenium.webdriver.common.by import By

    try:
        cpu_2=driver.find_element_by_xpath("//div[@id='filters']/ul/li[@aria-label='Intel Core i9']/span/a/div")
        cpu_2.click()
    except StaleElementReferenceException as e:
        driver.get('https://www.amazon.in/')
        search_box=driver.find_element_by_id('twotabsearchtextbox')
        search_box.send_keys('laptop')
        button=driver.find_element_by_xpath("//div[@class='nav-right']")
        button.click()
        WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, 'filters')))
        cpu_2=driver.find_element_by_xpath("//div[@id='filters']/ul/li[@aria-label='Intel Core i9']/span/a/div")
        cpu_2.click()
    
    title=[]

    a=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")[:10]
    for i in a:
        title.append(i.text)

    rating=[]

    a=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span/span/a/i/span")[:10]
    for i in a:
        rating.append(i.text)

    price=[]

    a=driver.find_elements_by_xpath("//span[@class='a-price-whole']")[:10]
    for i in a:
        price.append(i.text)
        
    jobs=pd.DataFrame({})
    jobs['title']=title
    jobs['rating']=rating
    jobs['price']=price
    
    driver.close()
    return(jobs)

In [67]:
df=amazon('https://www.amazon.in/')
df

                                               title rating   price
0  Lenovo ThinkPad E14 Intel Core i7 10th Gen14-i...         84,990
1  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...         95,840
2  (Renewed) Dell Inspiron 3567 Laptop Core i3-7t...         29,990
3  (Renewed) Lenovo ThinkPad High Performance 12....         34,999
4  ASUS TUF Gaming F15 Laptop 15.6" FHD Intel Cor...         73,990
5  (Renewed) HP EliteBook FOLIO 9480M Laptop (Cor...         24,490
6  Asus ROG Strix G15 Core i7 10th Gen - (8 GB/51...         84,990
7  HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...         74,990
8  ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Co...         94,499
9  HP Pavilion x360 Core i7 8th Gen 14-inch Touch...         82,990